.images__container {
  display: inline-flex;
  align-items: center;

  gap: 0.25rem;

  > img {
    border-radius: 4px;
  }
}

.images__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 54px;

  background-color: #EBEBEB;

  border-radius: 4px;
}